.header {
    text-align: center;
    margin-bottom: 20px; /* Add margin to the bottom of the header */
}

.header, .main {
    grid-column: span 2;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
imgs {
    text-align: center;
}
li {
    margin-bottom: 50px;
}

.geico{
    text-alight: center;
}
